  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render '/shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Github</h3>
    <section class="main">
      <h6><%= link_to "Organizations", organizations_url %></h6>
    </section>
  </div>
</div>
